{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Story 8 - Anatasya Dwijayanti</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{%static 'css/style.css' %}">

</head>
<body>
	<br><br>
	<h1>Book Finder</h1>
	<div class="container">
		<input id="search" placeholder="Title or Author">
		<button id="button" type="button">Search</button>
	</div>
	<br>
	<div id="results" class="col-md-12 left">
		<table  class="table m-0">
				<thead>
					<tr>
						<th>Cover Buku</th>
						<th>Title</th>
						<th>Author</th>
					</tr>
				</thead>
				<tbody id="listbook">
				</tbody>
			</table>
		
	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{%static 'js/script.js' %}"></script>

</body>
</html>