{% extends 'base.html' %}
{% load static %}
{% block title %} Story 10 {% endblock %}



{% block content %}
<br><br><br><br>
	<h1>Hello World!</h1>
	<div class="container">
		<h2>
	        This website is served by:  <br>
	        HOST: {{ host }}            <br>
	        PORT: {{ port }}            
	    </h2>
	</div>
    
{% endblock %}