{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock %}

{% block content %}
	<br><br><br><br>
	<div class="container">
		<h2>Login</h2>
		<form method="post">
			{% csrf_token %}
			{{form.as_p}}
			<button type="submit" name="button">Login</button>
			<a class="nav-link" href="{% url 'story9:regist' %}">Belum Punya Akun?</a>
		</form>
		
	</div>
	
{% endblock %}