{% extends 'base.html' %}
{% load static %}
{% block title %} About Me {% endblock %}



{% block content %}

<br><br><br><br>
<h1>About Me</h1>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="{% static 'about/img/profil.png' %}">
		</div>
		<div class="col-md-6" id="accordion">
			<h3 id="header-accordion">My Activity </h3>
			<div class="panel">
				<ul>
					<li>Kuliah</li>
					<li>Rapat Organisasi</li>
					<li>Nugas</li>
					<li>Makan</li>
					<li>Tidur</li>
				</ul>
			</div>
		  	<h3 id="header-accordion">Organizations & Committees Experience</h3>
		  	<div class="panel">
		    	<p><b>Staf Muslimah Center FUKI Fasilkom UI</b></p>
		    	<p>Februari 2019 - Sekarang</p>
		    	<p><b>Wakil Penanggung Jawab Akomodasi SIWAK-NG 2019</b></p>
		    	<p>Februari 2019 - November 2019</p>
		    	<p><b>Staf Divisi Data Science Academy COMPFEST 11</b></p>
		    	<p>Februari 2019 - September 2019</p>
		    	<p><b>Wakil Penanggung Jawab Divisi Konsumsi Wisuda Genap 2019 Fasilkom UI</b></p>
		    	<p>Februari 2019 - Agustus 2019</p>
		    	<p><b>Staf Divisi Konsumsi Wisuda Ganjil 2019 Fasilkom UI</b></p>
		    	<p>Desember 2018 - Januari 2019</p>
		  </div>
		  
		  <h3 id="header-accordion">Achievements</h3>
		  <div class="panel">
		  	<ul>
		  		<li>Semifinalis National Business Case Competition Universitas Airlangga</li>
		  		<li>Top 5 UI/UX Competition Ristek Fasilkom UI</li>
		  		<li>Penerima Beasiswa Mobile Progresive Web Application Dicoding IDCamp</li>
		  	</ul>
		  </div>
		</div>
	</div>
</div>  
{% endblock %}

