nav{
	background-color: #FB8A04;
}

body{
	width: 100%;
	background-color: #F9E79F;
}
img{
	width: 300px;
	height: 300px;
	border-radius: 50%;
}
#navbarNav{
	font-size: 25px;
	font-weight: 800;
}

#navbarNav li{
	margin-left: 10px;
	margin-right: 10px;
}

h1{
	text-align: center;
	font-size: 50px;
}
.col-md {
	text-align: center;
}

#header-accordion{
	background-color: #A86F61;
}

#theme{
	background-color: #FFF205;
	color: black;
}

#regist{
	display: inline;
}


