{% extends 'base.html' %}
{% load static %}
{% block title %} Register {% endblock %}

{% block content %}
	<br><br><br><br>
	<div class="container">
		<h2>Daftar</h2>
		<form method="post">
			{% csrf_token %}
			{{form.as_p}}
			<button type="submit" name="button">Daftar</button>
		</form>
	</div>
	
{% endblock %}