<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tentang Saya</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'homepage/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{%static 'about/js/script.js' %}"></script>
    {% block scripts %} {% endblock %}
    

</head>
<body id="page-top">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:index' %}">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'about:about' %}">About</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'story8:books' %}">List Buku</a>
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'story9:logout' %}">Logout</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'story9:login' %}">Login</a>
                        {% endif %}
                    </li>
                    <li>
                        <button id="theme" class="btn btn-primary waves-effect waves-light" style="margin-top: 10px;">
                            <h4>Neon Theme</h4>
                        </button>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    
    {% block content %} {% endblock %}

    
    
</body>
</html>