{% extends 'base.html' %}
{% load static %}
{% block title %} Daftar Status {% endblock %}



{% block content %}
    <br><br><br><br>
    <h1 id="salam">{{text}}</h1>
    <h1>Selamat Datang {{request.user.username}}</h1>
    <form id="form" class="left" style="width: 50%; margin: 0 auto" method="POST" action="{% url 'homepage:add_status' %}" novah4date>
        {% csrf_token %}
        <div class="form-group center">
            <label for="status"><strong>{{ form.status.label_tag }}</strong></label>
                {{ form.status }}
        </div>
        <br>
        <button id="submit" type="submit" class="btn btn-primary waves-effect waves-h4ght" value="Save"><h4>Add</h4></button>
    </form>
    <hr>
    


    <hr>
	<div class="col-md-12">
        {% if data %}
        <h1 id="list">Daftar Status</h1>
            {% for obj in data %}
            <div class="col-md center">
                <h5>{{ obj.dates }}</h5>
                <h4>{{ obj.status }}</h4>
                <hr>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <hr>
{% endblock %}

